<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-12">
          <ul class="list-style-none d-flex flex-wrap col-12 col-lg-5 flex-justify-center flex-lg-justify-start mb-2 mb-lg-0">
            <li class="mr-3">© 2017 <span title="0.35556s from unicorn-2455147356-30ghl">MechMech</span>, Inc.</li>
            <li class="mr-3">Terms</li>
            <li class="mr-3">Privacy</li>
            <li class="mr-3">Security</li>
            <li class="mr-3">Status</li>
            <li>Help</li>
          </ul>

          <ul class="list-style-none d-flex flex-wrap col-12 col-lg-5 flex-justify-center flex-lg-justify-end mb-2 mb-lg-0">
              <li class="mr-3">Contact</li>
            <li class="mr-3">API</li>
            <li class="mr-3">Training</li>
            <li class="mr-3">Shop</li>
            <li class="mr-3">Blog</li>
            <li>About</li>
          </ul>
      </div>
    </div>
  </div>
</footer>